
.d-block{
    max-height: 35vh;
    object-fit: cover;

}
.botons{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}
.caja{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer{
    padding-left: 3rem ;
    padding-right: 3rem;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: darkslategrey;
    color: white;
}
thead{
    
    background-color: gray;
}
